*
{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    background: #000;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navbar {
    background: #312f2f;
    height:70px;
    width:100%;
    border: 1px solid #ffeb3b2e;
}
#navbar >nav{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    height: inherit;
    align-items: center;
}
.flex-container{
    width:90%;
    margin:20px auto;
    padding: 20px;
    background-color: #44464d;
    display:flex;
    gap:20px;
    height:80vh;
}
.flex-container > section {
    flex:1;
    background: #000;
    padding:10px;
}

.flex-container > section h2{
    text-transform: capitalize;
    font-weight: 300;
    color:yellow;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffeb3b2e;
}
 #form{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#form form label{
    width:100%;
    display: block;
    padding: 10px 0;
    color:#fff;
    font-weight: 500;
}
#form form input , #form form textarea{
    width:100%;
    display: block;
    padding: 10px;
    color:#fff;
    font-weight: 500;
    background-color: transparent;
    border:1px solid #666;
    border-radius: 5px;
}
form button {
    background-color: yellow;
    color:#111;
    padding: 10px 20px;
    display:inline-block;
    border-radius: 5px;
    border:1px solid yellowgreen;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
form button:hover{
    background-color: transparent;
    border: 1px solid yellow;
    color:yellow;
}
.container{

    padding:10px ;
    background: transparent;
    border-bottom: 1px solid #444;
}
.container h3{

    padding: 10px 0;
    color:#fff;
    font-weight: 100;
    text-transform: capitalize;
}
.container p{
    font-weight: 100;
    font-size: 14px;
    color:#d4cbcb;
}
.container:last-child{
    border: none;
}