*
{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
body{
  background-color: #efefef;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #111;
}
.container
{
background: #fff;
margin: 10px auto;
width:90%;
}
form{
  padding: 10px;
  width:25%;
  margin:0 auto;
}
label{
  display: block;
  padding: 10px 0px;
  font-weight: bold;
}
input, textarea{
  padding:5px 0;
  border:1px solid #ccc;
  border-radius: 4px;
  width:100%;
}
button{
  background: #111;
  padding: 10px 30px;
  width:100%;
  color:white;
  border:1px solid black;
  margin:10px 0;

}
button:disabled{
  cursor: not-allowed;
  opacity: 0.4;
}